/*通用公共样式*/
body,html,div{font-size: 14px;}
body{background: #f4f7fe}
h1{font-size:48px;}
h2{font-size: 30px;font-weight: normal;margin-bottom: 10px;color: #3b4c79}
.fl{float: left;padding-left: 0px}
.fr{float:right}
a{text-decoration:none;color: #828a95}
a:hover{color: #449efa}
.hd h2{margin-bottom: 0}
.wrap{margin: 0 auto;max-width: 1170px;overflow: hidden}
.pt50{padding-top: 50px}
.pt80{padding-top: 80px}
.clear{overflow: hidden}
.tc{text-align: center}
li{list-style-type:none;}
ul{margin: 0;padding: 0}
.wrap960{margin: 0 auto;max-width: 800px;overflow: hidden}
.hd p{color: #778dac}
.active a{color:#449efa }


.header{height: 90px;line-height: 90px;background: #fff;overflow: hidden}
.header .logo{margin-right: 40px}
.header ul{overflow: hidden;margin: 0}
.header  li{float: left}
.header  li a{padding: 0 10px;height: 20px;line-height: 20px}

.header .login a{color:#449efa }
.header .login li.register a{border: 1px solid #449efa;padding: 3px 10px;margin-left: 10px;border-radius: 5px}
/*通用公共样式end*/
.index-num{background: #fff;padding: 15px 0}
.index-num .box{border-left: 1px solid #eee}
.index-num .box h3{color: #449efa;font-size: 28px;margin: 0;padding: 0 }
.index-num .box p{padding: 0;margin: 0}

.index-hzhb .hd{margin: 30px 0}

.index-cpjs{color: #778dac}
.index-cpjs h3{color: #3b4c79}
.index-cpjs .item1{background: #fff;}
.index-cpjs .item1{text-align: center}
.index-cpjs ul{margin:15px 0  30px}
.index-cpjs ul li{margin: 10px 0;}
.index-cpjs ul li span{background: #00cff0;border-radius: 50%;padding: 0px 5px;color: #fff;font-size: 12px}
.index-cpjs .item1 .txt{text-align:left}
.index-cpjs .item2 .txt{padding-left: 100px;padding-top: 15px}
.index-cpjs .item1,.index-cpjs .item2{padding: 30px 0}
.index-cpjs .item1 .txt,.index-cpjs .item2 .txt{padding-top: 30px}

.index-user{background: #fff;padding: 30px 0}
.el-carousel__item{height: 460px}
.el-carousel__item:nth-child(1) {
    background:url("../../resource/pic/index01.jpg" ) center;
}

.el-carousel__item:nth-child(2) {
    background:url("../../resource/pic/index02.jpg") center;
}
.el-carousel__item:nth-child(3) {
    background:url("../../resource/pic/index03.jpg") center;
}
.index-user .wrap960{padding: 15px;color: #778dac}
.index-user .wrap960 .box {padding: 10px;box-shadow: 0px 0px 3px #449efa}
.index-user .wrap960 .box .txt{padding-left: 20px;}
.index-user .wrap960 .user{overflow: hidden;margin-top: 15px;}
.index-user .wrap960 .user span{padding-top: 10px;display: inline-block;padding-left: 15px}

.index-numft{margin: 15px 0 45px}
.index-numft .wrap960{background:linear-gradient(to right ,#5eaafd,#4acffa);padding: 15px 0}
.index-numft .box{color: #fff}
.index-numft .box h3{font-size: 28px;margin: 0;padding: 0 }
.index-numft .box p{padding: 0;margin: 0}
/*通用底部CSS样式start*/
.footer{background: #333;padding: 30px 0}
.footer h3{margin: 0;padding-bottom: 10px;color: #ccc}
.fline{width:30px;height: 2px;background: #449efa;margin: 0 }
.footer .fbox1{border-right:1px solid #555;}
.footer .tel{font-size: 32px;color: #999;font-weight: bold}
.footer .txt{margin-top: 25px}
.footer .fbox1 p{margin: 0;color: #999}
.footer .fbox1 p.zx{margin-top: 15px}
.footer .lxwm p{margin: 10px 0}
.footer .lxwm{padding-bottom: 25px}
.footer ul li{margin: 15px 0}
.foot{background: #000;padding: 10px 0}
.foot p{color: #999}
/*通用底部CSS样式end*/
