/*通用公共样式*/
body,html,div{font-size: 14px;}
body{background: #f4f7fe;color: #778dac}
h1{font-size:48px;font-weight: normal}
h2{font-size: 30px;font-weight: normal;margin-bottom: 0px;color: #3b4c79}
.fl{float: left;padding-left: 0px}
.fr{float:right}
a{text-decoration:none;color: #828a95}
a:hover{color: #449efa}
.wrap{margin: 0 auto;max-width: 1170px;overflow: hidden}
.pt50{padding-top: 50px}
.pt80{padding-top: 80px}
.clear{overflow: hidden}
.tc{text-align: center}
li{list-style-type:none;}
.blue{color: #17b9e6}
.w100{width: 100%}
.wrap960{margin: 0 auto;max-width: 815px;overflow: hidden;background: #fff;padding: 15px}
.active a{color:#449efa }
.hd{text-align: center;margin-bottom: 30px}
.hd p{color: #778dac;margin-top: 10px}
p.line{margin: 0 auto;width:60px;height: 2px;background: #449efa }

/*通用公共样式end*/
.header{height: 90px;line-height: 90px;;overflow: hidden}
.header .wrap{background: #fff;}
.header .logo{margin-right: 40px}
.header ul{overflow: hidden;margin: 0}
.header  li{float: left}
.header  li a{padding: 0 10px;height: 20px;line-height: 20px}

.header .login a{color:#449efa }
.header .login li.register a{border: 1px solid #449efa;padding: 3px 10px;margin-left: 10px;border-radius: 5px}
.header-custom{background: url("../../resource/pic/join_01.png");min-height: 500px;width: 100%;background-size: cover}

.custom-sever{margin-bottom: 30px;padding-bottom: 15px}


/*通用底部CSS样式start*/
.footer{background: #333;padding: 30px 0}
.footer h3{margin: 0;padding-bottom: 10px;color: #ccc}
.fline{width:30px;height: 2px;background: #449efa;margin: 0 }
.footer .fbox1{border-right:1px solid #555;}
.footer .tel{font-size: 32px;color: #999;font-weight: bold}
.footer .txt{margin-top: 25px}
.footer .fbox1 p{margin: 0;color: #999}
.footer .fbox1 p.zx{margin-top: 15px}
.footer .lxwm p{margin: 10px 0}
.footer .lxwm{padding-bottom: 25px}
.footer ul li{margin: 15px 0}
.foot{background: #000;padding: 10px 0}
.foot p{color: #999}
/*通用底部CSS样式end*/