.page-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height:calc(100vh)
}
.fr{float: right}
.fl{float: left;}
.login-register-bg{background: linear-gradient(60deg,#541466 0,#17b9e6 100%);height: 100%;}
.login-box-bg{background-color: rgba(255,255,255,0.1);border-radius: 10px;padding: 30px 0;}
.login-box label{color: #fff}
.login-box .el-form-item {
    margin-bottom: 0px;
}
.login-box .el-form-item a{color: #fff}