body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(247,246,242)
}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}

[v-cloak]{
    display: none;
}

.row{
    margin: 0;
    padding: 0;
    width: 100%;
}
.col{
    margin: 0;
    padding: 0;
    height: 100%;
}

.file {
    position: relative;
    display: inline-block;
    background-color: #20A0FF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.table-hover tr:hover
{
    background-color:rgb(247,246,242) ;
}

.el-textarea
{
    vertical-align:baseline ;
}

.el-input__inner{
    display:inline-block;
}

.el-textarea__inner{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

td {
    padding: 0;
}

.my-autocomplete {
}
.my-autocomplete li {
    line-height: normal;
    padding: 7px;
}
.my-autocomplete li .value {
    text-overflow: ellipsis;
    overflow: hidden;
}
.my-autocomplete li .remark {
    font-size: 12px;
    color: #b4b4b4;
}
.my-autocomplete li .highlighted .remark {
    color: #ddd;
}

.el-tree-node__content>.el-checkbox {
    vertical-align:inherit;
}

div.el-tree-node__content {
    overflow: hidden;
}


* {
    font-family: "Microsoft YaHei";
}



